<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="NUnit" version="3.6.0" targetFramework="net40" />
  <package id="Shuttle.Core.Castle" version="1.0.1" targetFramework="net40" />
  <package id="Shuttle.Core.Data" version="4.2.7" targetFramework="net40" />
  <package id="Shuttle.Core.Infrastructure" version="4.2.54" targetFramework="net40" />
  <package id="Shuttle.Recall" version="4.0.42" targetFramework="net40" />
  <package id="Shuttle.Recall.Tests" version="1.7.26" targetFramework="net40" />
</packages>